<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBD_Gimnasio" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50152/WCF_BD.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBD_Gimnasio" contract="WCF_Gimnasio.IBD_Gimnasio"
                name="BasicHttpBinding_IBD_Gimnasio" />
        </client>
    </system.serviceModel>
</configuration>